<div *ngIf="this.product$ | async as product" class="cart-row">
    <div class="cart-item cart-column">
        <img class="cart-item-image"
            [src]="product.imageLink"
            width="100"
            height="100">
        <span class="cart-item-title">{{product.name}}</span>
    </div>
    <span class="cart-price cart-column">${{product.price}}</span>
    <div class="cart-quantity cart-column">
        <input #prodQuantityInput
               class="cart-quantity-input"
               type="number"
               [value]="this.cartProduct.productQuantity"
               (change)="onUpdateCartQuantity(prodQuantityInput)">
        <button class="btn btn-danger" type="button" (click)="onRemoveItemFromCart()">REMOVE</button>
    </div>
</div>